@page "/Analyze"
<div class="container  text-center" style="
    margin-top: 5rem;
">
    <div class="card mx-auto" style="width: 23rem;background-color: #9486FA;border-radius: 20px;">
        <div class="card-body" style="
    padding: 7rem;
">
            <div class="" style="
    width: 100%;
"><img src="img/facescan1.png" alt="Face scan"
       style="width: 173px;padding: -7px;margin-bottom: 10px;position: absolute;top: -40px;bottom: -10px;left: 10px;">
                <img src="img/facescan2.png" alt="Beauty analysis"
                     style="width: 173px;top: -40px;position: absolute;right: 10px;"></div>
            <h5 class="card-title text-white" style="
    /* width: 97%; */
    /* font-size: 17px; */
">آنالیز پوست و مو با هوش مصنوعی</h5>
            <button class="btn btn-light rounded-circle mt-3"
                    style="width: 60px;height: 60px;position: absolute;bottom: -30px;right: 152px;"><span
                    style="font-size: 30px;">+</span></button>
            <p class="mt-2 text-white" style="
    position: absolute;
    bottom: 17px;
    right: 149px;
">آنالیز جدید</p></div>
    </div>
</div>