<nav class="navbar fixed-bottom navbar-light bg-light justify-content-around border-top no-color">
    <a class="text-center no-color" href="#">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0745 1.94514C11.4191 1.67714 11.9016 1.67714 12.2461 1.94514L20.8339 8.62453C21.0663 8.80531 21.2023 9.08327 21.2023 9.37773V19.8739C21.2023 20.6331 20.9007 21.3612 20.3639 21.8981C19.827 22.4349 19.0989 22.7365 18.3397 22.7365H4.98092C4.22171 22.7365 3.4936 22.4349 2.95676 21.8981C2.41992 21.3612 2.11832 20.6331 2.11832 19.8739V9.37773C2.11832 9.08327 2.25427 8.80531 2.4867 8.62453L11.0745 1.94514ZM4.02672 9.84441V19.8739C4.02672 20.127 4.12725 20.3697 4.3062 20.5486C4.48515 20.7276 4.72785 20.8281 4.98092 20.8281H18.3397C18.5928 20.8281 18.8355 20.7276 19.0144 20.5486C19.1934 20.3697 19.2939 20.127 19.2939 19.8739V9.84441L11.6603 3.90718L4.02672 9.84441Z" fill="#539DF3"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84351 12.2403C7.84351 11.7133 8.27072 11.2861 8.79771 11.2861H14.5229C15.0499 11.2861 15.4771 11.7133 15.4771 12.2403V21.7823C15.4771 22.3093 15.0499 22.7365 14.5229 22.7365C13.9959 22.7365 13.5687 22.3093 13.5687 21.7823V13.1945H9.75191V21.7823C9.75191 22.3093 9.3247 22.7365 8.79771 22.7365C8.27072 22.7365 7.84351 22.3093 7.84351 21.7823V12.2403Z" fill="#539DF3"/>
        </svg>

        <i class="bi bi-house"></i><br/>خانه
    </a>
    <a class=" text-center no-color" href="#">
        <svg width="22" height="22" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00033 17.2228C3.61366 16.5067 4.44552 16.1045 5.3129 16.1045H10.5457C11.413 16.1045 12.2449 16.5067 12.8582 17.2228C13.4716 17.9388 13.8161 18.9099 13.8161 19.9225V21.4497C13.8161 21.8715 13.5233 22.2134 13.162 22.2134C12.8008 22.2134 12.5079 21.8715 12.5079 21.4497V19.9225C12.5079 19.315 12.3012 18.7323 11.9332 18.3027C11.5652 17.8731 11.0661 17.6317 10.5457 17.6317H5.3129C4.79247 17.6317 4.29336 17.8731 3.92536 18.3027C3.55736 18.7323 3.35062 19.315 3.35062 19.9225V21.4497C3.35062 21.8715 3.05777 22.2134 2.69653 22.2134C2.33528 22.2134 2.04243 21.8715 2.04243 21.4497V19.9225C2.04243 18.9099 2.387 17.9388 3.00033 17.2228Z" fill="#484C52"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.92927 8.46838C6.84554 8.46838 5.96699 9.49402 5.96699 10.7592C5.96699 12.0244 6.84554 13.05 7.92927 13.05C9.01301 13.05 9.89155 12.0244 9.89155 10.7592C9.89155 9.49402 9.01301 8.46838 7.92927 8.46838ZM4.65881 10.7592C4.65881 8.65056 6.12304 6.94116 7.92927 6.94116C9.7355 6.94116 11.1997 8.65056 11.1997 10.7592C11.1997 12.8678 9.7355 14.5772 7.92927 14.5772C6.12304 14.5772 4.65881 12.8678 4.65881 10.7592Z" fill="#484C52"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3021 12.5494C11.9154 11.8334 12.7473 11.4312 13.6147 11.4312H18.8474C19.7148 11.4312 20.5466 11.8334 21.16 12.5494C21.7733 13.2655 22.1179 14.2366 22.1179 15.2492V16.7764C22.1179 17.1981 21.825 17.54 21.4638 17.54C21.1025 17.54 20.8097 17.1981 20.8097 16.7764V15.2492C20.8097 14.6416 20.6029 14.0589 20.2349 13.6293C19.867 13.1997 19.3678 12.9584 18.8474 12.9584H13.6147C13.0942 12.9584 12.5951 13.1997 12.2271 13.6293C11.8591 14.0589 11.6524 14.6416 11.6524 15.2492V16.7764C11.6524 17.1981 11.3595 17.54 10.9983 17.54C10.637 17.54 10.3442 17.1981 10.3442 16.7764V15.2492C10.3442 14.2366 10.6888 13.2655 11.3021 12.5494Z" fill="#484C52"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.231 3.79504C15.1473 3.79504 14.2688 4.82068 14.2688 6.08586C14.2688 7.35105 15.1473 8.37669 16.231 8.37669C17.3148 8.37669 18.1933 7.35105 18.1933 6.08586C18.1933 4.82068 17.3148 3.79504 16.231 3.79504ZM12.9606 6.08586C12.9606 3.97722 14.4248 2.26782 16.231 2.26782C18.0373 2.26782 19.5015 3.97722 19.5015 6.08586C19.5015 8.19451 18.0373 9.9039 16.231 9.9039C14.4248 9.9039 12.9606 8.19451 12.9606 6.08586Z" fill="#484C52"/>
        </svg>

        <i class="bi bi-people"></i><br/>مشتریان
    </a>
    <a class=" text-center no-color" href="#">

        <svg width="22" height="22" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.55778 3.10918C8.76855 3.59218 8.54787 4.1546 8.06486 4.36537C6.77917 4.92643 5.65049 5.79389 4.7775 6.89192C3.90451 7.98996 3.31379 9.28513 3.05698 10.6642C2.80017 12.0433 2.8851 13.4643 3.30434 14.8029C3.72358 16.1416 4.46436 17.3572 5.46192 18.3434C6.45948 19.3296 7.68345 20.0565 9.02682 20.4604C10.3702 20.8644 11.7921 20.933 13.1681 20.6605C14.5442 20.388 15.8325 19.7825 16.9205 18.897C18.0085 18.0115 18.863 16.873 19.4093 15.581C19.6146 15.0956 20.1744 14.8685 20.6598 15.0738C21.1452 15.279 21.3723 15.8389 21.167 16.3243C20.4993 17.9034 19.4549 19.2949 18.1251 20.3772C16.7953 21.4594 15.2207 22.1994 13.5389 22.5325C11.857 22.8656 10.1192 22.7817 8.47731 22.288C6.83541 21.7943 5.33945 20.9059 4.12021 19.7005C2.90097 18.4951 1.99557 17.0094 1.48316 15.3733C0.970763 13.7371 0.866961 12.0004 1.18083 10.3148C1.49471 8.6293 2.2167 7.04631 3.28369 5.70427C4.35068 4.36223 5.73018 3.302 7.30158 2.61626C7.78458 2.40549 8.347 2.62617 8.55778 3.10918Z" fill="#484C52"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8253 2.02386C11.0042 1.84492 11.2469 1.74438 11.5 1.74438C12.8784 1.74438 14.2433 2.01588 15.5167 2.54336C16.7902 3.07084 17.9473 3.84399 18.9219 4.81865C19.8966 5.79331 20.6697 6.9504 21.1972 8.22385C21.7247 9.49731 21.9962 10.8622 21.9962 12.2406C21.9962 12.7676 21.569 13.1948 21.042 13.1948H11.5C10.973 13.1948 10.5458 12.7676 10.5458 12.2406V2.69858C10.5458 2.44551 10.6463 2.20281 10.8253 2.02386ZM12.4542 3.70596V11.2864H20.0346C19.9452 10.4862 19.7434 9.70096 19.4341 8.95416C19.0025 7.91225 18.3699 6.96554 17.5725 6.16809C16.775 5.37064 15.8283 4.73807 14.7864 4.30649C14.0396 3.99715 13.2544 3.79542 12.4542 3.70596Z" fill="#484C52"/>
        </svg>

        <i class="bi bi-plus-circle"></i><br/>آنالیز جدید
    </a>
    <a class=" text-center no-color" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
        </svg>
        <i class="bi bi-clock-history"></i><br/>تاریخچه
    </a>
    <a class=" text-center no-color" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
        </svg>
        <i class="bi bi-person"></i><br/>پروفایل
    </a>
</nav>